<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header">
			<h2><i class="icon-tasks"></i><span class="break"></span>Projects & Tasks</h2>&nbsp;&nbsp;&nbsp;
		</div>
		<div class="box-content">
			<div class="gantt"></div>
		</div>
	</div><!--/span-->

</div><!--/row-->

<div class="row-fluid sortable">

	<div class="box span12">
		<div id="open-task" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; width: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <h3 id="myModalLabel">Task Description</h3>
		  </div>
		  <div class="modal-body" style="max-height: 530px">
			  <div class="control-group">
				Project: <strong><div id="open-task-project"></div></strong>
				<h6></small>Progress</h6>
				<div class="progress progress-striped progress-information active"><div id="progress_bar" class="bar" style="width: 0;"></div></div>
			  </div>
			  <div class="control-group">
				Due Date: <strong><div id="open-task-date"></div></strong>
			  </div>
			  <div class="control-group">
				Task: <strong><span id="open-task-name"></span></strong> <span id="open-task-status"></span>
			  </div>
			<div class="control-group hidden-phone">
			  <div class="controls">
				<div id="open-task-description"><div style="text-align:center"><%= image_tag 'avatar.jpg', :alt => 'HCI Prototype Dashboard' %><h1>Please select a Task.</h1></div></div>
			  </div>
			</div>
		  </div>
		  <div class="modal-footer" style="text-align:left">
		    &nbsp;
		  </div>
		</div>
	</div><!--/span-->
</div><!--/row-->

<!-- start: JavaScript-->
<script type="text/javascript" language="JavaScript">

$(document).ready(function(){

	$(".gantt").gantt({
		source: [{
			name: "Sales Project",
			desc: "Build Sales Pipeline",
			values: [{
				from: "/Date("+Date.parse("2012-11-08").add(-1).days().getTime()+")/",
				to: "/Date("+Date.parse("2012-11-12").add(-1).days().getTime()+")/",
				label: "Requirement Gathering",
				customClass: "ganttRed"
			}]
		},{
			name: " ",
			desc: "Scoping",
			values: [{
				from: "/Date(1322611200000)/",
				to: "/Date(1323302400000)/",
				label: "Scoping",
				customClass: "ganttRed"
			}]
		},{
			name: "Hotfixes",
			desc: "Fix Main Dashboard",
			values: [{
				from: "/Date(1323802400000)/",
				to: "/Date(1325685200000)/",
				label: "Development",
				customClass: "ganttGreen"
			}]
		},{
			name: " ",
			desc: "Showcasing",
			values: [{
				from: "/Date(1325685200000)/",
				to: "/Date(1325695200000)/",
				label: "Showcasing",
				customClass: "ganttBlue"
			}]
		},{
			name: "Invoice Software v0.6",
			desc: "Development",
			values: [{
				from: "/Date(1326785200000)/",
				to: "/Date(1325785200000)/",
				label: "Development",
				customClass: "ganttGreen"
			}]
		},{
			name: " ",
			desc: "Showcasing",
			values: [{
				from: "/Date(1328785200000)/",
				to: "/Date(1328905200000)/",
				label: "Showcasing",
				customClass: "ganttBlue"
			}]
		},{
			name: "New Arrivals",
			desc: "Training",
			values: [{
				from: "/Date(1330011200000)/",
				to: "/Date(1336611200000)/",
				label: "Training",
				customClass: "ganttOrange"
			}]
		},{
			name: " ",
			desc: "Deployment",
			values: [{
				from: "/Date(1336611200000)/",
				to: "/Date(1338711200000)/",
				label: "Deployment",
				customClass: "ganttOrange"
			}]
		}],
		navigate: "scroll",
		scale: "weeks",
		maxScale: "months",
		minScale: "days",
		itemsPerPage: 10,
		onItemClick: function(data) {
			$('#open-task-project').text('Sales Project');
			$('#open-task-name').text('Gather Requirements');
			$('#open-task-date').text('2012-10-11');
			$('#open-task-description').lorem({type: 'paragraphs', amount:'1', ptags:true});

			$('#progress_bar').css('width', Math.floor(Math.random()*101) + '%');
		},
		onAddClick: function(dt, rowId) {
			alert("Empty space clicked - on a next prototype a Task will be added!");
		},
		onRender: function() {
			if (window.console && typeof console.log === "function") {
				console.log("chart rendered");
			}
		}
	});

});
</script>
<!-- end: JavaScript-->
