<div class="row-fluid">

	<div class="box span9">
		<div class="box-header">
			<h2><i class="icon-calendar"></i><span class="break"></span>Calendar</h2> &nbsp;&nbsp;&nbsp;<button class="btn btn-mini btn-create-event" data-toggle="modal" data-target="#create-event">New Event</button>
		</div>
		<div class="box-content">
			<div id="main_calendar" class="hidden-phone"></div>
			<div id="main_calendar_phone" class="hidden-desktop hidden-tablet"></div>
			<div class="clearfix"></div>
		</div>
	</div><!--/span-->

	<div class="box span3">
		<input type="hidden" id="current_event_id" value="" />
		<div id="open-event" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		  	<div style="float:right"><button type="button" class="btn btn-mini btn-danger delete-event hidden" data-dismiss="modal" aria-hidden="true">Delete</button></div>
		    <h3 id="myModalLabel">Event Details</h3>
		  </div>
		  <div class="modal-body" style="max-height: 530px">
			  <div class="control-group">
				Title: <strong><div id="open-event-title"></div></strong>
			  </div>
			  <div class="control-group">
				Start Date: <strong><div id="open-event-start-date"></div></strong>
			  </div>
			  <div class="control-group">
				End Date: <strong><div id="open-event-end-date"></div></strong>
			  </div>
			<div class="control-group hidden-phone">
			  <div class="controls">
				<div id="open-event-description"><div style="text-align:center"><%= image_tag 'avatar.jpg', :alt => 'HCI Prototype Dashboard' %><h1>Please select an Event.</h1></div></div>
			  </div>
			</div>
		  </div>
		  <div class="modal-footer" style="text-align:left">
		  </div>
		</div>
	</div><!--/span-->
</div>

<!-- start: JavaScript-->
<script type="text/javascript" language="JavaScript">
function message_tip1(){
	var unique_id = $.gritter.add({
		// (string | mandatory) the heading of the notification
		title: 'Calendar tips',
		// (string | mandatory) the text inside the notification
		text: 'Click on an Event to see details.',
		// (string | optional) the image to display on the left
		image: "<%= asset_path 'avatar.jpg' %>",
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: 8000,
		// (string | optional) the class name you want to apply to that specific message
		class_name: 'gritter-light'
	});
}

$(document).ready(function(){

	setTimeout("message_tip1()", 5000);

});
</script>
<!-- end: JavaScript-->