<div class="row-fluid">

	<div class="box span3">
		<div class="box-header">
			<h2><i class="icon-user"></i><span class="break"></span>Contacts</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<label class="control-label" for="selectError">Last name starts with...</label>
			<div class="controls">
			  <select id="contacts_filter">
			  	<option value="">Select to filter...</option>
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
			  </select>
			</div>
			<ul class="contacts-list" style="list-style-type:none">
				<li data-last-name-initial="A" class="open-contact" data-id="1">
					<%= image_tag 'avatar_p01.png', :alt => 'Lucas', :class => 'dashboard-avatar' %>
					<strong>Name:</strong> <a href="#">Lucas A.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label label-success">Online</span>
				</li>
				<li data-last-name-initial="B" class="open-contact" data-id="2">
					<a href="#">
						<%= image_tag 'avatar_p02.png', :alt => 'Bill', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Bill B.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label">Offline</span>
				</li>
				<li data-last-name-initial="C" class="open-contact" data-id="3">
					<a href="#">
						<%= image_tag 'avatar_p04.png', :alt => 'Jane', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Jane C.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label">Offline</span>
				</li>
				<li data-last-name-initial="C" class="open-contact" data-id="4">
					<a href="#">
						<%= image_tag 'avatar_p03.png', :alt => 'Dexter', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Dexter C.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label label-success">Online</span>
				</li>
			</ul>
		</div>
	</div><!--/span-->

	<div class="box span9">
		<input type="hidden" id="current_event_id" value="" />
		<div id="open-event" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		  	<div style="float:right"><button type="button" class="btn btn-mini btn-info contact-open-chat hidden" data-dismiss="modal" aria-hidden="true" onclick="">Chat</button></div>
		    <h3 id="myModalLabel">Contact Profile</h3>
		  </div>
		  <div class="modal-body" style="max-height: 530px">
			  <div class="row-fluid">
				  <div class="span4 ">
					<div class="well" style="text-align:center">
						<%= image_tag 'avatar.jpg', :id => 'contact_avatar' %>
					</div>
				  </div>
				  <div class="span8">
					  <div class="control-group">
						Name: <strong><div id="open-contact-name"></div></strong>
					  </div>
					  <div class="control-group">
						Department: <strong><div id="open-contact-dept"></div></strong>
					  </div>
					  <div class="control-group">
						Location: <strong><div id="open-contact-location"></div></strong>
					  </div>
					  <div class="control-group">
						Phone: <strong><div id="open-contact-phone"></div></strong>
					  </div>
					  <div class="control-group">
						Quote: <strong><i><div id="open-contact-quote"><div style="text-align:center"><%= image_tag 'avatar.jpg', :alt => 'HCI Prototype Dashboard' %><h1>Please select a Contact.</h1></div></div></i></strong>
					  </div>
				  </div>
			  </div><!--/row -->
		  </div>
		  <div class="modal-footer" style="text-align:left">
		  </div>
		</div>
	</div><!--/span-->
</div>



