<div class="row-fluid sortable">
	<div class="box span6">
		<div class="box-header">
			<h2><i class="icon-envelope"></i><span class="break"></span>Email</h2> &nbsp;&nbsp;&nbsp;<button class="btn btn-mini btn-compose-email" data-toggle="modal" data-target="#compose-email">Compose</button>
			<div class="box-icon email-module">
				<a data-rel="tooltip" title="Archive" href="#" class="btn-archive-email"><i class="icon-download-alt"></i></a>
				<a data-rel="tooltip" title="Mark Read" href="#" class="btn-read-email"><i class="icon-eye-open"></i></a>
				<a data-rel="tooltip" title="Mark Unread" href="#" class="btn-unread-email"><i class="icon-eye-close"></i></a>
				<a data-rel="tooltip" title="Delete" href="#" class="btn-delete-email"><i class="icon-remove-circle"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-condensed email-module">
				  <thead>
					  <tr>
					  	  <th>&nbsp;</th>
						  <th>Sender</th>
						  <th>Subject</th>
						  <th>Date</th>
					  </tr>
				  </thead>
				  <tbody>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"</td>
						<td class="openable">Pompeius René</td>
						<td class="center openable">New Project Meeting</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Marco Button</td>
						<td class="center openable">Client Information</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Valerie Liberty</td>
						<td class="center openable">Report Request</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Joe Polansky</td>
						<td class="center openable">Global Announcement</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hiroto Šimun</td>
						<td class="center openable">Design Review</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Victor Claus</td>
						<td class="center openable">Report Request II</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Dennis Mok</td>
						<td class="center openable">Interesting Article...</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Victor Claus</td>
						<td class="center openable">Department Baseball Team!</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Dan Levitt</td>
						<td class="center openable">Client lead</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Carlos Gomez</td>
						<td class="center openable">Check this out!</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Romina Struve</td>
						<td class="center openable">important</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Ale Bonilla</td>
						<td class="center openable">Testing required</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hiroto Šimun</td>
						<td class="center openable">Free courses</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Victor Claus</td>
						<td class="center openable">Report Request III</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Joe Claus</td>
						<td class="center openable">Trip schedule</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Dexter Cliff</td>
						<td class="center openable">Department Basket Team!</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
				  </tbody>
			 </table>
			 <div class="pagination pagination-centered email-module email-pagination">
			  <ul>
				<li><a href="#" class="prev-pag">Prev</a></li>
				<li class="active" id="email-page-1" ><a href="#" class="change-pag" data-page="1">1</a></li>
				<li id="email-page-2"><a href="#" class="change-pag" data-page="2">2</a></li>
				<li><a href="#" class="next-pag">Next</a></li>
			  </ul>
			</div>
		</div>
	</div><!--/span-->

	<div class="box span6">
		<div id="open-email" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <h3 id="myModalLabel">Open Email</h3>
		  </div>
		  <div class="modal-body" style="max-height: 530px">
			  <div class="control-group">
				From: <strong><div id="open-email-from"></div></strong>
			  </div>
			  <div class="control-group">
				Date: <strong><div id="open-email-date"></div></strong>
			  </div>
			  <div class="control-group">
				Subject: <strong><div id="open-email-subject"></div></strong>
			  </div>
			<div class="control-group hidden-phone">
			  <div class="controls">
				<div id="open-email-body"><div style="text-align:center"><%= image_tag 'avatar.jpg', :alt => 'HCI Prototype Dashboard' %><h1>Please select an Email.</h1></div></div>
			  </div>
			</div>
		  </div>
		  <div class="modal-footer" style="text-align:left">
		    <button class="btn btn-primary reply-email">Reply</button>
		  </div>
		</div>
	</div><!--/span-->
</div><!--/row-->