<!-- start: Content -->
<div class="row-fluid sortable">
	<div class="box span6">
		<div class="box-header">
			<h2><i class="icon-envelope"></i><span class="break"></span>Email</h2> &nbsp;&nbsp;&nbsp;<button class="btn btn-mini btn-compose-email" data-toggle="modal" data-target="#compose-email">Compose</button>
			<div class="box-icon email-module">
				<a data-rel="tooltip" title="Archive" href="#" class="btn-archive-email"><i class="icon-download-alt"></i></a>
				<a data-rel="tooltip" title="Mark Read" href="#" class="btn-read-email"><i class="icon-eye-open"></i></a>
				<a data-rel="tooltip" title="Mark Unread" href="#" class="btn-unread-email"><i class="icon-eye-close"></i></a>
				<a data-rel="tooltip" title="Delete" href="#" class="btn-delete-email"><i class="icon-remove-circle"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-condensed email-module">
				  <thead>
					  <tr>
					  	  <th>&nbsp;</th>
						  <th>Sender</th>
						  <th>Subject</th>
						  <th>Date</th>
					  </tr>
				  </thead>
				  <tbody>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"</td>
						<td class="openable">Pompeius René</td>
						<td class="center openable">New Project Meeting</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Marco Button</td>
						<td class="center openable">Client Information</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Valerie Liberty</td>
						<td class="center openable">Report Request</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Joe Polansky</td>
						<td class="center openable">Global Announcement</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hiroto Šimun</td>
						<td class="center openable">Design Review</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Victor Claus</td>
						<td class="center openable">Report Request II</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Dennis Mok</td>
						<td class="center openable">Interesting Article...</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Victor Claus</td>
						<td class="center openable">Department Baseball Team!</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Dan Levitt</td>
						<td class="center openable">Client lead</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Carlos Gomez</td>
						<td class="center openable">Check this out!</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Romina Struve</td>
						<td class="center openable">important</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Ale Bonilla</td>
						<td class="center openable">Testing required</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hiroto Šimun</td>
						<td class="center openable">Free courses</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Victor Claus</td>
						<td class="center openable">Report Request III</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Joe Claus</td>
						<td class="center openable">Trip schedule</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
					<tr class="email-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Dexter Cliff</td>
						<td class="center openable">Department Basket Team!</td>
						<td class="center openable">2012-01-01 16:00</td>
					</tr>
				  </tbody>
			 </table>
			 <div class="pagination pagination-centered email-module email-pagination">
			  <ul>
				<li><a href="#" class="prev-pag">Prev</a></li>
				<li class="active" id="email-page-1" ><a href="#" class="change-pag" data-page="1">1</a></li>
				<li id="email-page-2"><a href="#" class="change-pag" data-page="2">2</a></li>
				<li><a href="#" class="next-pag">Next</a></li>
			  </ul>
			</div>
		</div>
	</div><!--/span-->

	<div class="box span6">
		<div class="box-header">
			<h2><i class="icon-tasks"></i><span class="break"></span>Projects & Tasks</h2>&nbsp;&nbsp;&nbsp;<button class="btn btn-mini btn-create-task" data-toggle="modal" data-target="#create-task">New Task</button>
			<div class="box-icon projects-module">
				<a data-rel="tooltip" title="Archive" href="#" class="btn-archive-task"><i class="icon-download-alt"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-condensed projects-module">
				  <thead>
					  <tr>
					  	  <th>&nbsp;</th>
						  <th>Project</th>
						  <th>Task</th>
						  <th>Due&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;</th>
						  <th>Status</th>
					  </tr>
				  </thead>
				  <tbody>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Sales Project</td>
						<td class="center openable">Build Sales Pipeline</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Sales Point Software v2.9</td>
						<td class="center openable">Gather Requirements</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hotfixes</td>
						<td class="center openable">Fix Dashboard quick search</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-warning">In Progress</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Automatic Bank Paylinks</td>
						<td class="center openable">Build interface class</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Receipts Module</td>
						<td class="center openable">Execute user tests</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Interviews</td>
						<td class="center openable">Analyst Candidate</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">RRHH Project</td>
						<td class="center openable">Build New Calendar</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Satellite Software v5.9</td>
						<td class="center openable">Contact Prof. Smith</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hotfixes</td>
						<td class="center openable">Fix Total sales number</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-warning">In Progress</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Real Time Analytics</td>
						<td class="center openable">Choose a SVG chart library</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-warning">In Progress</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Invoices Module</td>
						<td class="center openable">Build evaluation plan</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Evaluations</td>
						<td class="center openable">Perform monthly eval</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
				  </tbody>
			 </table>
			 <div class="pagination pagination-centered projects-module projects-pagination">
			  <ul>
				<li><a href="#" class="prev-pag">Prev</a></li>
				<li class="active" id="projects-page-1" ><a href="#" class="change-pag" data-page="1">1</a></li>
				<li id="projects-page-2"><a href="#" class="change-pag" data-page="2">2</a></li>
				<li><a href="#" class="next-pag">Next</a></li>
			  </ul>
			</div>
		</div>
	</div><!--/span-->
</div><!--/row-->

<div class="row-fluid">

	<div class="box span9">
		<div class="box-header">
			<h2><i class="icon-calendar"></i><span class="break"></span>Calendar</h2> &nbsp;&nbsp;&nbsp;<button class="btn btn-mini btn-create-event" data-toggle="modal" data-target="#create-event">New Event</button>
		</div>
		<div class="box-content">
			<div id="main_calendar" class="hidden-phone"></div>
			<div id="main_calendar_phone" class="hidden-desktop hidden-tablet"></div>
			<div class="clearfix"></div>
		</div>
	</div><!--/span-->

	<div class="box span3">
		<div class="box-header">
			<h2><i class="icon-user"></i><span class="break"></span>Contacts</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<label class="control-label" for="selectError">Last name starts with...</label>
			<div class="controls">
			  <select id="contacts_filter">
			  	<option value="">Select to filter...</option>
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
			  </select>
			</div>
			<ul class="contacts-list" style="list-style-type:none">
				<li data-last-name-initial="A">
					<a href="#">
						<%= image_tag 'avatar_p01.png', :alt => 'Lucas', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Lucas A.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label label-success">Online</span>
					<button type="button" class="btn btn-mini btn-info contact-open-chat" data-dismiss="modal" aria-hidden="true" onclick="javascript:chatWith('Lucas_A')">Chat with Lucas</button>
				</li>
				<li data-last-name-initial="B">
					<a href="#">
						<%= image_tag 'avatar_p02.png', :alt => 'Bill', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Bill B.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label label">Offline</span>
				</li>
				<li data-last-name-initial="C">
					<a href="#">
						<%= image_tag 'avatar_p04.png', :alt => 'Jane', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Jane C.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label label">Offline</span>
				</li>
				<li data-last-name-initial="C">
					<a href="#">
						<%= image_tag 'avatar_p03.png', :alt => 'Dexter', :class => 'dashboard-avatar' %>
					</a>
					<strong>Name:</strong> <a href="#">Dexter C.</a><br>
					<strong>Since:</strong> 17/05/2012<br>
					<strong>Status:</strong> <span class="label label-success">Online</span>
					<button type="button" class="btn btn-mini btn-info contact-open-chat" data-dismiss="modal" aria-hidden="true" onclick="javascript:chatWith('Dexter_C')">Chat with Dexter</button>
				</li>
			</ul>
		</div>
	</div><!--/span-->
</div>
<!-- end: Content -->

<!-- start: JavaScript-->
<script type="text/javascript" language="JavaScript">

function message_welcome(){
	var unique_id = $.gritter.add({
		// (string | mandatory) the heading of the notification
		title: 'Welcome to my Prototype!',
		// (string | mandatory) the text inside the notification
		text: 'Feel free to look around. Use the Navigation to your left. All sections should have most interaction set.',
		// (string | optional) the image to display on the left
		image: "<%= asset_path 'avatar.jpg' %>",
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: 8000,
		// (string | optional) the class name you want to apply to that specific message
		class_name: 'gritter-light'
	});
}

function message_email(){
	var unique_id = $.gritter.add({
		// (string | mandatory) the heading of the notification
		title: 'Email Help',
		// (string | mandatory) the text inside the notification
		text: 'For <strong>Email</strong>, click on a row to "Open" it, or "Compose" to create a new one.',
		// (string | optional) the image to display on the left
		image: "<%= asset_path 'avatar.jpg' %>",
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: 5000,
		// (string | optional) the class name you want to apply to that specific message
		class_name: 'gritter-light'
	});
}

function message_projects(){
	var unique_id = $.gritter.add({
		// (string | mandatory) the heading of the notification
		title: 'Projects & Tasks',
		// (string | mandatory) the text inside the notification
		text: 'For <strong>Projects and Tasks</strong>, click on a row to "Open" it, or click on a "Status" to update it.',
		// (string | optional) the image to display on the left
		image: "<%= asset_path 'avatar.jpg' %>",
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: 5000,
		// (string | optional) the class name you want to apply to that specific message
		class_name: 'gritter-light'
	});
}

$(document).ready(function(){

	setTimeout("message_welcome()", 5000);
	setTimeout("message_email()", 15000);
	setTimeout("message_projects()", 21000);

});
</script>
<!-- end: JavaScript-->

