<div class="row-fluid sortable">
	<div class="box span6">
		<div class="box-header">
			<h2><i class="icon-tasks"></i><span class="break"></span>Projects & Tasks</h2>&nbsp;&nbsp;&nbsp;<button class="btn btn-mini btn-create-task" data-toggle="modal" data-target="#create-task">New Task</button>
			<div class="box-icon projects-module">
				<a data-rel="tooltip" title="Archive" href="#" class="btn-archive-task"><i class="icon-download-alt"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-condensed projects-module">
				  <thead>
					  <tr>
					  	  <th>&nbsp;</th>
						  <th>Project</th>
						  <th>Task</th>
						  <th>Due&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;</th>
						  <th>Status</th>
					  </tr>
				  </thead>
				  <tbody>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Sales Project</td>
						<td class="center openable">Build Sales Pipeline</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Sales Point Software v2.9</td>
						<td class="center openable">Gather Requirements</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hotfixes</td>
						<td class="center openable">Fix Dashboard quick search</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-warning">In Progress</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Automatic Bank Paylinks</td>
						<td class="center openable">Build interface class</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Receipts Module</td>
						<td class="center openable">Execute user tests</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-1">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Interviews</td>
						<td class="center openable">Analyst Candidate</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">RRHH Project</td>
						<td class="center openable">Build New Calendar</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-important">Pending</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Satellite Software v5.9</td>
						<td class="center openable">Contact Prof. Smith</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Hotfixes</td>
						<td class="center openable">Fix Total sales number</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-warning">In Progress</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Real Time Analytics</td>
						<td class="center openable">Choose a SVG chart library</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-warning">In Progress</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Invoices Module</td>
						<td class="center openable">Build evaluation plan</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
					<tr class="projects-page-2">
						<td><input type="checkbox" value="option1"></td>
						<td class="openable">Evaluations</td>
						<td class="center openable">Perform monthly eval</td>
						<td class="center openable">2012-01-01</td>
						<td class="center">
							<span class="label task-status label-success">Done</span>
						</td>
					</tr>
				  </tbody>
			 </table>
			 <div class="pagination pagination-centered projects-module projects-pagination">
			  <ul>
				<li><a href="#" class="prev-pag">Prev</a></li>
				<li class="active" id="projects-page-1" ><a href="#" class="change-pag" data-page="1">1</a></li>
				<li id="projects-page-2"><a href="#" class="change-pag" data-page="2">2</a></li>
				<li><a href="#" class="next-pag">Next</a></li>
			  </ul>
			</div>
		</div>
	</div><!--/span-->

	<div class="box span6">
		<div id="open-task" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <h3 id="myModalLabel">Task Description</h3>
		  </div>
		  <div class="modal-body" style="max-height: 530px">
			  <div class="control-group">
				Project: <strong><div id="open-task-project"></div></strong>
				<h6></small>Progress</h6>
				<div class="progress progress-striped progress-information active"><div id="progress_bar" class="bar" style="width: 0;"></div></div>
			  </div>
			  <div class="control-group">
				Due Date: <strong><div id="open-task-date"></div></strong>
			  </div>
			  <div class="control-group">
				Task: <strong><span id="open-task-name"></span></strong> <span id="open-task-status"></span>
			  </div>
			<div class="control-group hidden-phone">
			  <div class="controls">
				<div id="open-task-description"><div style="text-align:center"><%= image_tag 'avatar.jpg', :alt => 'HCI Prototype Dashboard' %><h1>Please select a Task.</h1></div></div>
			  </div>
			</div>
		  </div>
		  <div class="modal-footer" style="text-align:left">
		    &nbsp;
		  </div>
		</div>
	</div><!--/span-->
</div><!--/row-->

<!-- start: JavaScript-->
<script type="text/javascript" language="JavaScript">

function message_tip1(){
	var unique_id = $.gritter.add({
		// (string | mandatory) the heading of the notification
		title: 'Welcome to my Prototype!',
		// (string | mandatory) the text inside the notification
		text: 'Click on a Task "Status" to mark it as Done.',
		// (string | optional) the image to display on the left
		image: "<%= asset_path 'avatar.jpg' %>",
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: false,
		// (int | optional) the time you want it to be alive for before fading out
		time: 8000,
		// (string | optional) the class name you want to apply to that specific message
		class_name: 'gritter-light'
	});
}

$(document).ready(function(){

	setTimeout("message_tip1()", 5000);

});
</script>
<!-- end: JavaScript-->
